@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-risd-blue: #2151F5;
  --color-black: #000000;
  --color-ash-gray: #C9CEBD;
  --color-lilac: #C297B8;
  --color-mimi-pink: #FDCFF3;
  
  --color-background: var(--color-black);
  --color-text: #FFFFFF;
  --color-primary: #3490dc;
  --color-secondary: #ffed4a;
  --color-accent: var(--color-lilac);
  --color-highlight: var(--color-mimi-pink);
  --color-danger: #e3342f;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}